src/flows_node_red.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a00b66e533311e77",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "ESIEA",
        "topic": "ESIEA/groupe4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "21e7f0824c31a8a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "dec0c7d9008e4c1a",
                "c0f5c18dad17ab22",
                "b717e0ea5e836955"
            ]
        ]
    },
    {
        "id": "dec0c7d9008e4c1a",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity",
        "property": "payload.humidity",
        "action": "",
        "pretty": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "fa0fe4e5f7c2d547",
                "0931f05f56a36ee3"
            ]
        ]
    },
    {
        "id": "fa0fe4e5f7c2d547",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "40898b931d5211f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "b717e0ea5e836955",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "24670d04071572c8",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "40898b931d5211f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidité",
        "label": "units",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#004db3",
            "#5cc0ff",
            "#3acbba"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "c0f5c18dad17ab22",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature",
        "property": "payload.temperature",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 200,
        "wires": [
            [
                "24670d04071572c8",
                "0931f05f56a36ee3"
            ]
        ]
    },
    {
        "id": "0931f05f56a36ee3",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Transform to Spack PlugB",
        "func": "const valuet = parseFloat(msg.payload.temperature);\nconst valueh = msg.payload.humidity;\nmsg.payload = {\n    \"metrics\":[{\n        \"name\": \"Temperature\",\n        \"alias\": 22,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": valuet\n    },\n    {\n        \"name\": \"Humidity\",\n        \"alias\": 22,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": valueh\n    }\n    ],\n    \"seq\": -1\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "3214d173c2117c43",
                "77d41842525d820e"
            ]
        ]
    },
    {
        "id": "3214d173c2117c43",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "77d41842525d820e",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT OUT",
        "topic": "spBv1.0/ESIEA/DDATA/raspberry/device_grp4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "72a20a783dcd760e",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "21e7f0824c31a8a4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.8.128.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "40898b931d5211f8",
        "type": "ui_group",
        "name": "Default",
        "tab": "05dea987f16efe85",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "home"
    },
    {
        "id": "72a20a783dcd760e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.8.128.239",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "05dea987f16efe85",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]